.change-color {
  padding: 8px 16px;
  margin-top: 16px;
  width: 148px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 250ms linear;
}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}
